
h2 > a {
    position: relative;
    color: red;
    text-decoration: none;
}

h2 > a:hover {
    color: red;
}

ul {
    margin-left: 80px;
}

h2 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.active > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

h2 > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.vl {
    border-left: 2px solid white;
    height: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}